@model EquipmentManager.Data.InstallationEquipmentModule

<li>
    <div class="panel panel-info panel-small" data-module-id="@Model.Id" data-module-name="@Model.Name">
        <div class="panel-heading" style="cursor:pointer;" data-action="expand">
            <span class="glyphicon glyphicon-chevron-right row-command"></span>
            <span class="h4">@Model.Name</span>
            <span class="pull-right">
                <a class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add child module" data-function="addChildModule"></a>
                <a href="@Url.Action("Details", "InstallationEquipmentModules", new { id = Model.Id })" class="glyphicon glyphicon-tasks" data-toggle="tooltip" data-placement="bottom" title="Details"></a>                
            </span>
        </div>
        <div class="module-children panel-body">
            <ul class="list-unstyled">
                @foreach (var module in Model.SubordonateModules)
                {
                    @Html.Partial("_InstallationModulePartial", module)
                }
            </ul>
            <div parts class="panel panel-default panel-small">
                <div class="panel-heading pointer" data-action="expand">
                    <span class="glyphicon glyphicon-chevron-right row-command"></span>
                    <span class="h4 pointer">Parts (@Model.InstallationEquipmentParts.Count())</span>
                    <span class="pull-right">
                        <a class="glyphicon glyphicon-plus pointer" data-toggle="tooltip" data-placement="bottom" title="Add part" data-function="addPart"></a>
                    </span>
                </div>
                <table class="table table-condensed table-hover module-children">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Supplier</th>
                            <th>Status</th>
                            <th>Qty Req</th>
                            <th>Qty Ordered</th>
                            <th>Unit Cost</th>
                            <th>Postage</th>
                            <th>Quoted Cost</th>
                            <th>Cost</th>
                            <th style="width:50px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var part in Model.InstallationEquipmentParts)
                        {
                            <tr>
                                @if (part.EquipmentPart.Part.Obsolete)
                                {
                                    <td class="bg-danger"><strong><a class="pointer" data-part-id="@part.Id">@part.Name</a></strong></td>
                                }
                                else
                                {
                                    <td><a class="pointer" data-part-id="@part.Id">@part.Name</a></td>
                                }                                
                                <td>
                                    @if (part.EquipmentPart.Part.SupplierId.HasValue)
                                    {
                                        @Html.ActionLink(part.EquipmentPart.Part.SupplierName, "Details", "Suppliers", new { id = part.EquipmentPart.Part.SupplierId }, null)
                                    }
                                </td>
                                <td><a data-field="statusId" class="pointer" data-part-id="@part.Id">@part.StatusId.Name()</a></td>
                                <td class="text-right">@part.EquipmentPart.QuantityRequired</td>
                                <td class="text-right" data-field="unitsOrdered">@part.UnitsOrdered</td>
                                @if (part.CostPerUnit.HasValue)
                                {
                                    <td class="text-right" data-field="costPerUnit">@part.CostPerUnit</td>
                                }
                                else
                                {
                                    <td data-field="costPerUnit" class="bg-danger text-right">@part.CostPerUnit</td>
                                }
                                <td class="text-right" data-field="postage">@part.Postage</td>
                                <td class="text-right" data-field="quotedCost">@part.QuotedCost</td>
                                <td class="text-right" data-field="cost">@part.Cost</td>
                                <td>
                                    <a href="@Url.Action("Details", "InstallationEquipmentParts", new { id = part.Id })"
                                       class="glyphicon glyphicon-tasks pointer" data-toggle="tooltip" data-placement="bottom" title="Details"></a>
                                    <a class="glyphicon glyphicon-remove pointer" data-toggle="tooltip" data-placement="bottom" title="Remove" data-installation-part-id="@part.Id" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div labour class="panel panel-default panel-small">
                <div class="panel-heading pointer" data-action="expand">
                    <span class="glyphicon glyphicon-chevron-right row-command"></span>
                    <span class="h4 pointer">Labour (@Model.InstallationEquipmentLabours.Count())</span>
                    <span class="pull-right">
                        <a class="glyphicon glyphicon-plus pointer" data-toggle="tooltip" data-placement="bottom" title="Add labour" data-function="addLabour"></a>
                    </span>
                </div>
                <table class="table table-condensed table-hover module-children">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Supplier</th>
                            <th>Amount</th>
                            <th style="width:30px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var labour in Model.InstallationEquipmentLabours)
                        {
                            <tr>
                                <td>@Html.ActionLink(labour.EquipmentLabour.Name, "Details", "EquipmentLabour", new { id = labour.Id }, null)</td>
                                <td>@labour.EquipmentLabour.SupplierName</td>
                                <td>@labour.EquipmentLabour.QuantityString</td>
                                <td>
                                    <a href="@Url.Action("Details", "EquipmentLabour", new { id = labour.Id })" class="glyphicon glyphicon-tasks pointer" data-toggle="tooltip" data-placement="bottom" title="Details"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</li>