@model EquipmentManager.Data.InstallationEquipmentModule

<li>
    <div class="panel panel-info panel-small" data-module-id="@Model.Id" data-module-name="@Model.Name">
        <div class="panel-heading" style="cursor:pointer;" data-action="expand">
            <span class="glyphicon glyphicon-chevron-right row-command"></span>
            <span class="h4">@Model.Name</span>
            <span class="pull-right">
                <a class="glyphicon glyphicon-plus" data-toggle="tooltip" data-placement="bottom" title="Add child module" data-function="addChildModule"></a>
                <a href="@Url.Action("Details", "EquipmentModules", new { id = Model.Id })" class="glyphicon glyphicon-tasks" data-toggle="tooltip" data-placement="bottom" title="Details"></a>
                <a class="glyphicon glyphicon-remove" data-toggle="tooltip" data-placement="bottom" title="Remove module" data-function="removeChildModule"></a>
            </span>
        </div>
        <div class="module-children panel-body">
            <ul class="list-unstyled">
                @foreach (var module in Model.SubordonateModules)
                {
                    @Html.Partial("_InstallationModulePartial", module)
                }
            </ul>
            <div parts class="panel panel-default panel-small">
                <div class="panel-heading pointer" data-action="expand">
                    <span class="glyphicon glyphicon-chevron-right row-command"></span>
                    <span class="h4 pointer">Parts</span>
                    <span class="pull-right">
                        <a class="glyphicon glyphicon-plus pointer" data-toggle="tooltip" data-placement="bottom" title="Add part" data-function="addPart"></a>
                    </span>
                </div>
                <table class="table table-condensed table-hover module-children">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Manufacturer</th>
                            <th>Supplier</th>
                            <th>Quantity</th>
                            <th style="width:70px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var part in Model.InstallationEquipmentParts)
                        {
                            <tr>
                                <td>@Html.ActionLink(part.Name, "Details", "EquipmentParts", new { id = part.Id }, null)</td>
                                <td>
                                    @if (part.EquipmentPart.Part.ManufacturerId.HasValue)
                                    {
                                        @Html.ActionLink(part.EquipmentPart.Part.ManufacturerName, "Details", "Manufacturers", new { id = part.EquipmentPart.Part.ManufacturerId }, null)
                                    }
                                </td>
                                <td>
                                    @if (part.EquipmentPart.Part.SupplierId.HasValue)
                                    {
                                        @Html.ActionLink(part.EquipmentPart.Part.SupplierName, "Details", "Suppliers", new { id = part.EquipmentPart.Part.SupplierId }, null)
                                    }
                                </td>
                                <td>@part.EquipmentPart.QuantityRequired @part.EquipmentPart.QuantityRequiredSpareString</td>
                                <td>
                                    <a href="@Url.Action("Details", "EquipmentParts", new { id = part.Id })"
                                       class="glyphicon glyphicon-tasks pointer" data-toggle="tooltip" data-placement="bottom" title="Details"></a>
                                    <a class="glyphicon glyphicon-remove pointer" data-toggle="tooltip" data-placement="bottom" title="Remove" data-function="removePart" data-equipment-part-id="@part.Id"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div labour class="panel panel-default panel-small">
                <div class="panel-heading pointer" data-action="expand">
                    <span class="glyphicon glyphicon-chevron-right row-command"></span>
                    <span class="h4 pointer">Labour</span>
                    <span class="pull-right">
                        <a class="glyphicon glyphicon-plus pointer" data-toggle="tooltip" data-placement="bottom" title="Add labour" data-function="addLabour"></a>
                    </span>
                </div>
                <table class="table table-condensed table-hover module-children">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Supplier</th>
                            <th>Amount</th>
                            <th style="width:70px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var labour in Model.InstallationEquipmentLabours)
                        {
                            <tr>
                                <td>@Html.ActionLink(labour.EquipmentLabour.Name, "Details", "EquipmentLabour", new { id = labour.Id }, null)</td>
                                <td>@labour.EquipmentLabour.SupplierName</td>
                                <td>@labour.EquipmentLabour.QuantityString</td>
                                <td>
                                    <a href="@Url.Action("Details", "EquipmentLabour", new { id = labour.Id })" class="glyphicon glyphicon-tasks pointer" data-toggle="tooltip" data-placement="bottom" title="Details"></a>
                                    <a class="glyphicon glyphicon-remove pointer" data-toggle="tooltip" data-placement="bottom" title="Remove" data-function="removeLabour" data-labour-id="@labour.Id"></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</li>