@model EquipmentManager.Data.EquipmentLabour

@{
    ViewBag.Title = "Details";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Equipment", "Index", "Equipment")</li>
    <li>@Html.ActionLink(Model.EquipmentModule.Equipment.Name, "Details", "Equipment", new { id = Model.EquipmentModule.EquipmentId }, null)</li>
    @foreach (var item in Model.EquipmentModule.ModuleHierarchy)
    {
        <li>@Html.ActionLink(item.Value, "Details", "EquipmentModules", new { id = item.Key }, null)</li>
    }
    <li class="active">@Model.Name </li>
</ol>

<div>
    <h4>Labour Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipmentModule)
        </dt>

        <dd>
            @Html.ActionLink(Model.EquipmentModule.Name, "Details", "EquipmentModules", new { id = Model.EquipmentModuleId }, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>

        <dd>
            @if (Model.SupplierId.HasValue)
            {
                @Html.ActionLink(Model.SupplierName, "Details", "Suppliers", new { id = Model.SupplierId.Value }, null)
            }
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
