@model EquipmentManager.Models.EquipmentViewModel

@{
    ViewBag.Title = "Details";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(function () {

            $('#modalAddInstallation').click(function () {
                var eqId = $('#Id').val();
                var siteId = $('#Sites').val();
                var name = $('#addInstallationName').val();
                var desc = $('#addInstallationDescription').val();

                $.ajax({
                    type: 'POST',
                    url: '/Installations/AddInstallation',
                    data: { equipmentId: eqId, siteId: siteId, name: name, description: desc },
                    dataType: 'json',
                    success: function (data) {
                        location.reload();
                    }
                });
            });

            $('#modalAddLabour').click(function () {

                var eqId = $('#Id').val();
                var name = $('#addLabourName').val();
                var description = $('#addLabourDescription').val();
                var suplierId = $('#Suppliers').val();
                var qty = $('#addLabourQuantity').val();
                var unit = $('#TemporalUnit').val();

                $.ajax({
                    type: 'post',
                    url: '/Equipment/AddLabour',
                    data: { equipmentId: eqId, name: name, description: description, supplierId: suplierId, quantity: qty, quantityUnit: unit },
                    dataType: 'json',
                    success: function (data) {
                        if (data.result == true) {
                            var row = '<tr><td><a class="glyphicon glyphicon-remove remove-row" data-id="' + data.id + '" /></td>'
                                + '<td>' + data.name + '</td>'
                                + '<td>' + data.description + '</td>'
                                + '<td>' + data.quantity + '</td>'
                                + '<td>' + data.supplierName + '</td></tr>';

                            var name = $('#addLabourName').val('');
                            var description = $('#addLabourDescription').val('');
                            var suplierId = $('#Suppliers').val('');
                            var qty = $('#addLabourQuantity').val('');
                            var unit = $('#TemporalUnit').val('0');

                            $('#addLabour').modal('hide');

                            var table = $('#labourTable').find('tbody');
                            table.append(row);
                        }
                    }
                });
            });

            $('#labourTable').on('click', '.remove-row', function () {
                var id = $(this).data('id');
                var row = $(this).closest('tr');

                $.ajax({
                    type: 'POST',
                    url: '/Equipment/RemoveLabour',
                    data: { id: id },
                    dataType: 'json',
                    success: function (data) {
                        if (data.result == true) {
                            row.remove();
                        }
                        else {
                            alert("Cannot delete.");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                })

                row.remove();
            });

            $('#itemsTable').on('click', '.remove-row', function () {
                var id = $(this).data('id');
                var row = $(this).closest('tr');
                $.ajax({
                    type: 'POST',
                    url: '/Equipment/RemoveEquipmentItem',
                    data: { id: id },
                    dataType: 'json',
                    success: function (data) {
                        if (data.result == true) {
                            row.remove();
                        }
                        else {
                            alert("Cannot delete.");
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });
            });

            $('#modalAddItem').click(function () {

                var eqId = $('#Id').val();
                var itId = $('#addItemId').val();
                var qty = $('#addItemQty').val();
                var qtySpare = $('#addItemQtySpare').val();
                var unit = $('#UnitsOfMeasure').val();
                var n = $('#addItemNotes').val();

                $.ajax({
                    type: 'POST',
                    url: '/Equipment/AddEquipmentItem',
                    data: { equipmentId: eqId, itemId: itId, quantityRequired: qty, quantitySpare: qtySpare, unitOfMeasure: unit, notes: n },
                    dataType: 'json',
                    success: function (data) {
                        var row = '<tr><td><a class="glyphicon glyphicon-remove remove-row" data-id=' + data.id + ' /></td><td>' + data.id + '</td><td>' + data.name + '</td><td>' + data.manufacturer + '</td><td>' + data.supplier + '</td><td>' + data.quantityRequired;
                        if (qtySpare == 0) {
                            row = row + '</td></tr>';
                        }
                        else {
                            row = row + ' (' + data.quantitySpare + ')</td></tr>';
                        }
                        var table = $('#itemsTable').find('tbody');
                        table.append(row);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {

                    }
                });

                $('#addItemModal').modal('hide');
                $('#tbItemSearch').val('');
                $('#addItem').prop('disabled', true);
            });

            $("#tbItemSearch").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '/Items/Search',
                        dataType: 'json',
                        data: {
                            q: request.term
                        },
                        success: function (data) {
                            response(data);
                        }
                    });
                },
                minLength: 3,
                change: function (event, ui) {

                },
                select: function (event, ui) {
                    if (ui.item) {
                        $('#addItemId').val(ui.item.value);
                        $('#addItemName').html(ui.item.name);
                        $('#addItemManufacturer').html(ui.item.manufacturer);
                        $('#addItemSupplier').html(ui.item.supplier);
                        $('#addItemLink').html(ui.item.link);
                        $('#addItemPartNumbers').html(ui.item.partNumbers);
                        $('#addItemItemsPerUnit').html(ui.item.itemsPerUnit);
                        $('#addItemQty').val('1');
                        $('#addItemQtySpare').val('0');
                        $('#addItemUnit').val('');
                        $('#addItemNotes').val('');
                        $('#addItem').prop('disabled', false);
                    }
                    else {
                        alert('Error');
                        $('#addItemName').html('');
                        $('#addItemManufacturer').html('');
                        $('#addItemSupplier').html('');
                        $('#addItemLink').html('');
                        $('#addItemPartNumbers').html('');
                        $('#addItemItemsPerUnit').html('');
                        $('#addItemQty').val('');
                        $('#addItemQtySpare').val('');
                        $('#addItemUnit').val('');
                        $('#addItemNotes').val('');
                        $('#addItem').prop('disabled', true);
                    }
                    $(this).val(ui.item.label);
                    return false;
                },
                open: function () {
                    $(this).removeClass("ui-corner-all").addClass("ui-corner-top");
                },
                close: function () {
                    $(this).removeClass("ui-corner-top").addClass("ui-corner-all");
                }
            });
        });
    </script>
}

<div class="modal" id="addInstallationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Select Site</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Site</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("Sites", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="addInstallationName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" id="addInstallationDescription" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="modalAddInstallation" type="button" class="btn btn-primary">Add Item</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="addLabour" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Labour</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" id="addLabourName" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" id="addLabourDescription" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Supplier</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("Suppliers", null, "Select...", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Quantity</label>
                        <div class="col-sm-8">
                            <input type="text" id="addLabourQuantity" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Unit</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("TemporalUnit", null, new { @class = "form-control" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="modalAddLabour" type="button" class="btn btn-primary">Add Labour</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="addItemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Enter Details</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="addItemId" />
                <form class="form-horizontal">
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Item Name</label>
                        <div class="col-sm-8">
                            <p id="addItemName" class="form-control-static"></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Manufacturer</label>
                        <div class="col-sm-8">
                            <p id="addItemManufacturer" class="form-control-static"></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Supplier</label>
                        <div class="col-sm-8">
                            <p id="addItemSupplier" class="form-control-static"></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Link</label>
                        <div class="col-sm-8">
                            <p id="addItemLink" class="form-control-static"></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Part Numbers</label>
                        <div class="col-sm-8">
                            <p id="addItemPartNumbers" class="form-control-static"></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Items per Unit</label>
                        <div class="col-sm-8">
                            <p id="addItemItemsPerUnit" class="form-control-static"></p>
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Quantity Required</label>
                        <div class="col-sm-8">
                            <input type="text" id="addItemQty" class="form-control" value="1" />
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Quantity Spare</label>
                        <div class="col-sm-8">
                            <input type="text" id="addItemQtySpare" class="form-control" value="0" />
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Unit</label>
                        <div class="col-sm-8">
                            @Html.DropDownList("UnitsOfMeasure", null, htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group form-group-sm form-group-condensed">
                        <label for="" class="col-sm-4 control-label">Notes</label>
                        <div class="col-sm-8">
                            <input type="text" id="addItemNotes" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="modalAddItem" type="button" class="btn btn-primary">Add Item</button>
            </div>
        </div>
    </div>
</div>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Equipment", "Index", "Equipment")</li>
    <li class="active">@Model.Name</li>
</ol>

<h2>@Model.Name</h2>
<h4>@Model.Description</h4>
@Html.HiddenFor(model => model.Id)

<fieldset>
    <legend>Installations <button id="addInstallation" class="btn btn-info btn-xs" data-toggle="modal" data-target="#addInstallationModal">Add Installation</button></legend>
    <div id="installations">
        <ul class="list-unstyled" style="margin-left:25px;">
            @foreach (var item in Model.Installations)
            {
                <li>
                    @Html.ActionLink(item.Site.CodeName, "Details", "Installations", new { id = item.Id }, null)
                </li>
            }
        </ul>
    </div>
</fieldset>

<fieldset>
    <legend>Equipment Labour <a id="addLabour" class="btn btn-info btn-xs" data-toggle="modal" data-target="#addLabour">Add</a></legend>
    <table id="labourTable" class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Supplier</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in Model.Labour)
            {
                <tr>
                    <td><a class="glyphicon glyphicon-remove remove-row" data-id="@l.Id" /></td>
                    <td>@l.Name</td>
                    <td>@l.Description</td>
                    <td>@Math.Round(l.Quantity, 2) @l.QuantityUnit.Name()</td>
                    <td>
                        @if (l.Supplier != null)
                        { @l.Supplier.Name }
                </td>
            </tr>
            }
        </tbody>
    </table>
</fieldset>
<fieldset>
    <legend>Equipment Items (@Model.EquipmentItems.Count)</legend>
    <form class="form-inline">
        <div class="form-group">
            <input type="text" id="tbItemSearch" class="form-control" placeholder="Search..." style="width:700px;" />
            <a id="addItem" class="btn btn-primary" data-toggle="modal" data-target="#addItemModal" disabled>Add Item</a>
        </div>
    </form>
    <table id="itemsTable" class="table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Supplier</th>
                <th>Quantity Required (Spare)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EquipmentItems.Where(x => x.IsValidToday))
            {
                <tr>
                    <td><a class="glyphicon glyphicon-remove remove-row" data-id="@item.Id" /></td>
                    <td>@Html.ActionLink(item.Id.ToString(), "Details", "EquipmentItems", new { id = item.Id }, null)</td>
                    <td>@Html.ActionLink(item.ItemName, "Details", "Items", new { id = item.ItemId }, null)</td>
                    <td>@item.ItemManufacturerName</td>
                    <td>@item.ItemSupplierName</td>
                    <td>@item.QuantityRequired @item.QuantityRequiredSpareString</td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
