@{
    ViewBag.Title = "Home";
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryui")
    <script type="text/javascript">
        $(function () {

        });
    </script>
}
<h2>Build Manager</h2>
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            @Html.ActionLink("Equipment", "Index", "Equipment", null, new { @class = "list-group-item" })
            @Html.ActionLink("Installations", "Index", "Installations", null, new { @class = "list-group-item" })
            @Html.ActionLink("Items", "Index", "Items", null, new { @class = "list-group-item" })
            @Html.ActionLink("Sites", "Index", "Sites", null, new { @class = "list-group-item" })
        </div>
    </div>
    <div class="col-md-3">
        <div class="list-group">
            @Html.ActionLink("Manufacturers", "Index", "Manufacturers", null, new { @class = "list-group-item" })
            @Html.ActionLink("Suppliers", "Index", "Suppliers", null, new { @class = "list-group-item" })
            @Html.ActionLink("Categories", "Index", "ItemCategories", null, new { @class = "list-group-item" })
            @Html.ActionLink("Units", "Index", "Units", null, new { @class = "list-group-item" })
        </div>
    </div>
</div>