@{
    ViewBag.Title = "Settings";
}
<h2>@ViewBag.Title.</h2>

<ul class="list-unstyled">
    <li>@Html.ActionLink("Manufacturers", "Index", "Manufacturers")</li>
    <li>@Html.ActionLink("Suppliers", "Index", "Suppliers")</li>
    <li>@Html.ActionLink("Categories", "Index", "ItemCategories")</li>
    <li>@Html.ActionLink("Units", "Index", "Units")</li>
    <li>@Html.ActionLink("Sites", "Index", "Sites")</li>
</ul>