@model EquipmentManager.Data.Installation

@{
    ViewBag.Title = Model.Name;
}

@section scripts {
    <script type="text/javascript">
        $(function () {

        })
    </script>
}
<div class="modal" id="itemDetails" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Item Details</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>Item</dt>
                    <dd></dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="modal" type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Installations", "Index", "Installations")</li>
    <li class="active">@Model.Name</li>
</ol>

<div>
    <h4>@ViewBag.Title <small>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</small></h4>
    @Model.OutstandingItems.Count().ToString()
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Site):</dt>
        <dd>
            @Html.ActionLink(Model.Site.Name, "Details", "Sites", new { id = Model.Destination_SiteId }, null)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Equipment):</dt>
        <dd>
            @Html.ActionLink(Model.Equipment.Name, "Details", "Equipment", new { id = Model.EquipmentId }, null)
        </dd>
    </dl>
    <hr />
    <h4>Items (@Model.InstallationEquipmentItems.Count)</h4>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Action <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a id="importItems" href="#">Import Items from @Model.Equipment.Name</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            Filter <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">All Items</a></li>
            <li class="divider"></li>
            <li><a href="#">Not Ordered</a></li>
            <li><a href="#">Ordered</a></li>
        </ul>
    </div>
    <table id="itemsTable" class="table table-condensed">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Supplier</th>
                <th>Quantity Required (Spare)</th>
                <th>Qty Ordered</th>
                <th>Status</th>
                <th>Cost per Unit</th>
                <th>Postage</th>
                <th>Total Cost</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InstallationEquipmentItems)
            {
                <tr>
                    <td><a href="#" data-toggle="modal" data-target="#itemDetails">@item.Id.ToString()</a></td>
                    <td>@Html.ActionLink(item.EquipmentItem.Item.Name, "Details", "Items", new { id = item.EquipmentItem.ItemId }, null)</td>
                    <td>@Html.ActionLink(item.EquipmentItem.Item.ManufacturerName, "Details", "Manufacturers", new {id = item.EquipmentItem.Item.ManufacturerId}, null)</td>
                    <td>@Html.ActionLink(item.EquipmentItem.Item.SupplierName, "Details", "Suppliers", new { id = item.EquipmentItem.Item.SupplierId }, null)</td>
                    <td>@item.EquipmentItem.QuantityRequired @item.EquipmentItem.QuantityRequiredSpareString</td>
                    <td>@item.UnitsOrdered</td>
                    <td>@item.StatusId</td>
                    <td>@item.CostPerUnit</td>
                    <td>@item.Postage</td>
                    <td>@item.TotalCost</td>
                </tr>
            }
        </tbody>
    </table>
</div>