@model EquipmentManager.Data.Installation

@{
    ViewBag.Title = Model.Name;
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            $('#modulesList').on('click', '[data-action]', function () {
                if ($(this).data('action') == 'expand') {
                    $(this).data('action', 'collapse');
                    var x = $(this).children('.glyphicon-chevron-right');
                    expandModule(x);
                }
                else if ($(this).data('action') == 'collapse') {
                    $(this).data('action', 'expand');
                    var x = $(this).children('.glyphicon-chevron-down');
                    collapseModule(x);
                }
            });

            function expandModule(module) {
                module.toggleClass('glyphicon-chevron-right');
                module.toggleClass('glyphicon-chevron-down');

                var row = module.closest('.panel');
                row.children('.module-children').show();
            }

            function collapseModule(module) {
                module.toggleClass('glyphicon-chevron-right');
                module.toggleClass('glyphicon-chevron-down');

                var row = module.closest('.panel');
                row.children('.module-children').hide();
            }
        });
    </script>
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Installations", "Index", "Installations")</li>
    <li class="active">@Model.Name</li>
</ol>
@Html.HiddenFor(model => model.Id)
<div>
    <h4>@ViewBag.Title <small>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })</small></h4>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Site):</dt>
        <dd>
            @Html.ActionLink(Model.Site.Name, "Details", "Sites", new { id = Model.Destination_SiteId }, null)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Equipment):</dt>
        <dd>
            @Html.ActionLink(Model.Equipment.Name, "Details", "Equipment", new { id = Model.EquipmentId }, null)
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Description):</dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <h4>Modules</h4>
    <ul id="modulesList" class="list-unstyled">
        @foreach (var module in Model.TopLevelModules)
        {
            @Html.Partial("_InstallationModulePartial", module)
        }
    </ul>
</div>